<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                </a>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="fa fa-table" aria-hidden="true"></i> Crud Manager
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Campus")">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Campuses
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Departments")">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Departments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Role")">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Roles
                        </a>
                    </li>
                </ul>
            </li>

            <li class="divider"></li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <li class="nav-item">
                    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </li>
            }


        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>